/*GENERAL*/

.general {
    margin: auto;
    width: 1440px;
}

/*MAIN BOX*/

.main-box {
    width: 50%;
    height: 40%;
    margin-top: 50px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: rgb(240, 235, 229);
}

/*BOXES*/

.box-1 {
    grid-column: 3 / 5;
    grid-row: 1;
}

.box-2 {
    grid-column: 1 / 3;
    grid-row: 8;
}

.box-3 {
    grid-column: 5 / 10;
    grid-row: 3;
}

.box-4 {
    grid-column: 15 / 20;
    grid-row: 8;
}

.box-5 {
    grid-column: 10 / 16;
    grid-row: 6;
}

.box-6 {
    grid-column: 11 / 14;
    grid-row: 5;
}

.box-7 {
    grid-column: 19 / 20;
    grid-row: 10;
}

.box-8 {
    grid-column: 12 / 14;
    grid-row: 3;
}

.box-9 {
    grid-column: 17 / 20;
    grid-row: 6;
}

.box-10 {
    grid-column: 1 / 3;
    grid-row: 2;
}

/*REUSABLE*/

.transform-1 {
    transform: scale(2);
    animation-delay: 250ms;
    animation-duration: 500ms;
}

.transform-2 {
    transform: scale(0.5) translate(-100%, -100%);
    animation-delay: 250ms;
    animation-duration: 500ms;
}

.transform-3 {
    transform: rotate(90deg);
    animation-delay: 250ms;
    animation-duration: 500ms;
}

.color-1 {
    border: 2px dashed rgb(3, 102, 231);
    background-color: rgb(85, 139, 209);
}

.color-2 {
    border: 3px ridge black;
    background-color: rgb(218, 161, 57);
}

.color-3 {
    border: 4px solid brown;
    background-color: darkolivegreen;
}

.color-4 {
    border: 6px double red;
    background-color: yellow;
}

/*CSS QUERIES*/

@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 500px) {
    
}

@media screen and (max-width: 400px) {
    
}

@media screen and (max-width: 300px) {
    
}
